p {
    margin: 6px;
    padding: 6px;
    border: 4px;
    border: 2px solid black;
    width: 300px;
    height: 100px;
    background-color: orange;

}
html {
    box-sizing: border-box;
  }
  * {
    box-sizing: inherit;
  }

div {
    width: 300px;
    height: 50px;
    margin: 10px;
    padding: 25px;
    border: 2px solid black;
}

div {
    box-sizing: border-box
}
